.boutModifaRT {
  background-color: black;
  color: white;
  padding: 1rem 3rem 1rem 1rem;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 800;
  cursor: pointer;
  width: 20rem;
  &:hover {
    color: black;
    background-color: #e0d5e0;
  }
}
