.boximgOeuvreDetail {
  display: block;
  width: 50%;
  height: 50%;
  margin: 15px auto;
  overflow: hidden;
  border: 17px solid #fff;
  box-shadow: 16px 7px 4px 0px #d1c8e1;
}

.imgOeuvreDetail {
  width: 11rem;
  height: 9.7rem;
  flex-shrink: 0;
}
.enTeteOeuvreDetais {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.titreOeuvre {
  font-size: 0.9rem;
  font-weight: 600;
  line-height: normal;
}
.descripOeuvreTitre {
  padding-top: 2rem;
  border-top: 1px solid #d2d2d2;
  margin: 1.5rem;
  font-size: 1.1rem;
  text-align: center;
  font-weight: 900;
  line-height: 0.9rem;
  letter-spacing: 0.05rem;
}
.descripOeuvre {
  font-size: 0.9rem;
  line-height: 0.9rem;
  font-weight: 500;
}
.descripOeuvre-1 {
  width: 90%;
  margin: 0 auto;
  line-height: 2rem;
}
.descripOeuvre-2 {
  width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
}
.dimensionimage {
  font-size: 0.95rem;
  line-height: 2rem;
  font-weight: 600;
}
.Titreslid {
  text-transform: uppercase;
  margin: 1.5rem;
  font-size: 1.1rem;
  text-align: center;
  font-weight: 900;
  line-height: 0.9rem;
  letter-spacing: 0.05rem;
  text-decoration: underline;
}
.bouton_collection {
  box-sizing: border-box;
  justify-content: center;
  font-family: "Lobster";
  display: inline-flex;
  margin-right: 8%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: normal;
  padding: 0.2rem;
  border-radius: 0.3rem;
  border: 1px solid;
  box-shadow:
    4px 4px,
    0px 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #d1c8e1;
}
.link_collection {
  text-decoration: none;
  color: black;
}
.imgOeuvreModal {
  width: 100%;
  height: 20rem;
  flex-shrink: 0;
}
@media screen and (min-width: 1024px) {
  .sectionOeuvreD {
    display: flex;
    justify-content: center;
  }
  .imgOeuvreModal {
    height: 30rem;
  }
  .boximgOeuvreDetail {
    width: 35%;
    border: 17px solid #fff;
    box-shadow: 19px 9px 4px 0px #d1c8e1;
    cursor: pointer;
    &:hover {
      transition: transform 0.3s ease-in-out;
      transform: scale(1.2);
    }
  }
  .imgOeuvreDetail {
    width: 100%;
    height: auto;
    flex-shrink: 0;
  }
  .aside {
    width: 50%;
    margin-left: -5rem;
    margin-right: 1rem;
  }
  .titreOeuvre {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 2rem;
  }
  .imageOeuvreDetail {
    border: 2rem solid white;
  }
  .boxboutton {
    padding-top: 4rem;
    color: white;
  }
  .descripOeuvre {
    display: initial;
  }
  .descripOeuvreTitre {
    margin: 1rem;
  }
  .descripOeuvre-1 {
    width: 90%;
    margin: 0 auto;
    line-height: 2rem;
  }
  .descripOeuvre-2 {
    width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .Titreslid {
    margin: 3rem;
    font-size: 1.3rem;
  }
}
