.champ {
  padding-bottom: 0.8rem;
}
.titreGestion {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: underline;
}
.containerform {
  background-color: white;
  font-size: 0.8rem;
  padding: 1rem;
  width: 50%;
  margin: 0 auto;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.7rem;
  text-align: left;
  overflow: hidden;
}
.boutonEnregistrer {
  background-color: black;
  color: white;
  padding: 0.7rem 3rem 0.7rem;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 800;
  font-family: "Playfair Display";
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  margin-top: 3rem;
}
.titreSelecteur {
  font-weight: 700;
}
