.list {
  width: 90%;
  margin: 0 auto;
  font-family: "Playfair Display", Helvetica, sans-serif;
  margin-top: 1rem;
}
.LinkOeuvreId {
  text-decoration: none;
}
.artWorkList {
  padding-top: 1rem;
}

.h1listartwork {
  text-align: center;
}

/* RESPONSIVE */
@media screen and (min-width: 1024px) {
  .h1Oeuvres {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
  .h1listartwork {
    text-align: left;
  }
}
