.admin-page {
  padding: 0 1rem 0 1rem;
}
.titreAdmin {
  text-align: center;
  font-family: Lato;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.06563rem;
}
.boutonModifArtist {
  background-color: black;
  color: white;
  padding: 0.4rem 0.4rem;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 800;
  margin-top: 2rem;
  cursor: pointer;
  &:hover {
    color: black;
    background-color: #e0d5e0;
    border: solid;
  }
}
.box_lien {
  display: flex;
  justify-content: space-between;
}
